@import "all.min.css";
* {
    box-sizing: border-box;
}
body{
    margin: 30px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-image: linear-gradient(90deg,  #0099cc 35%, #34dcc6 100%);
    padding: 70px 0;
}
.text{
    text-indent: 50px;
    margin-left: 10px;
    margin-top: 18px;
    width: 33%;
    height: 100%;
    float: left;
}

.social{
    width: 30%;
    height: 100%;
    float: left;
}
.social__item{
    display: inline-block;
    font-size: 1rem;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: #09c;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    text-shadow: 0 6px 12px rgba(0,0,0,0.4);
    transition: all .3s ease-in-out;
}
.social__item:hover{
    transform: translateY(-5px);
    transition: all .3s ease-in-out;
    color: #033c4e;
}
.textwidget{
    width: 36%;
    height: 100%;
    position: relative;
    float: right;
    color: #fff;
}